.clip-path-custom {
  clip-path: polygon(15% 0, 85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%);
}
.custom-clip-path {
  clip-path: polygon(
    100% 0,
    100% calc(100% - 25px),
    calc(100% - 25px) 100%,
    0 100%,
    0 0
  );
}
.active {
  color: #45f882;
}
